{% extends "include/page.html" %}

{% block title %}Start{% endblock %}


{% block body %}

    <div class="jumbotron">

        <h1>Welcome to Photoberry!</h1>

        <p>Click the button when you and your pals are ready!</p>

        <p>
            <a href="{{ url_for('.take_photos') }}" class="btn btn-lg btn-success" role="button">
                Start
            </a>
        </p>

        <p>
            <img src="{{ url_for('video_feed') }}" width="80%">
        </p>

    </div>

{% endblock %}
